@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;

}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x:hidden;
}

#header
{
    position: absolute;
    background-color: rgba(2, 102, 82,0.5);
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 2em;
    /* color: #359381; */
    pointer-events: none;
    margin-top: 0px;
    margin-right:600px;
}

#nav a {

    text-decoration: none;
    font-size: large;
    /* color: #359381; */
    color: #fff;
    padding: 6px 15px ;
    border-radius: 20px;
    margin: 0 5px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0,  0, 0,.3);
    
}

#nav a:hover,
#nav a.active {
    background: #359381;
    /* background: #6610f2; */
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#text {
    position: absolute;
    font-size: 5em;
    font-family: 'Poppins';
    line-height: 90px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,  0, 0,.3);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

/* .sec {
    position: relative;
    background: #003329;
    padding: 100px;
} */
.parallax span {
    margin-left: 90px;
    font-size: 5rem;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

 .schedule{
    position: relative;
    padding: 50px 0;
    height: fit-content;
    background-color:whitesmoke;
    /* margin-top: 50px; */
}



tr
{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.td1{
    padding: 10px;
width: 80%;
}
.td2{
    width: 20%;
}

.td1 ul li{
    margin-top: 10px;
    margin-left: 50px;
}

table{
    border-collapse: collapse;
}

blockquote.blue1 {
    padding: 0 10px;
    margin: 0;
    font-size: 17.5px;
    border-left: 5px solid #1b0a58;
    border-bottom: 1px solid #ccc;
}
blockquote {
    padding: 0 10px;
    margin: 0;
    font-size: 17.5px;
    border-left: 5px solid #1b0a58;
}
blockquote.green1 {
    padding: 0 10px;
    margin: 0;
    font-size: 17.5px;
    border-left: 5px solid #00d746;
    border-bottom: 1px solid #ccc;
}

.section-title h3{
    margin:0 0 20px 0;
    padding:0;
}

/* .fa-light{
    font-size: 30px;
} */

